<form ng-submit="onSubmit()"
      novalidate="novalidate"
      ng-hide="submitted" >

    <p>Enter any number:</p>
    <div class="form-element">
            <input type="text"
                   ng-model="formModel.inputtedValue"
                   id="value"
                   required="required" >
            <label id="result" class="form-inline-element">{{formModel.resultLabel}}</label >
    </div>
    <button id="submit" type="submit" class="form-element form-btn">Submit</button>
</form >
